
.content-aside {
    padding-top: 3em;
    padding-bottom: 40px;
    float: left;
    width: 300px;
    position: fixed;
    overflow-y: scroll;
    z-index: 1001;
    background: #f2f3f7;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.text-center {
    text-align: center;
}
.author-img{
	width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
	background-image: url(../../assets/images/me.jpg);
	    background-size: 100%;
}

.my-name {
    text-align: right;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 18px;
    display: block;
    width: 100%;
    text-align: center;
}
.my-position{
	display: block;
    margin-bottom: 24px;
    font-size: 12px;
    text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
}
.my-position a{
	text-decoration:none;
	color:#2c98f0;
}
.navbar {
    position: relative;
    min-height: 55px;
    margin-bottom: 20px;
    border: 1px solid transparent;
	display: block;
    width: 100%;
}
.navbar .menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
.navbar .menu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar .menu ul li a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    position: relative;
    padding: 10px 0px 5px 0 ;
    font-family: "Quicksand", Arial, sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.navbar .menu ul li.active a{
	color: #2c98f0;
	border-bottom:1px solid #2c98f0;
}
.navbar-footer {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    width: 100%;
}