<div class="right-content">
	<section class="my-intro" (mouseover)="hover=true" (mouseleave)="hover=false">
		<div class="my-designation" [ngStyle]="{color: hover==true  ? '#48484a' : '#000' }">
			I am <br>
			UI Developer
		</div>
		<p class="info">
			This Site developed in Angular 7.
		</p>
		
	</section>
	
	<section class="about-us">
		<span class="small-heading">
			{{rContents[0].smallheading}}
		</span>
		<h2 class="main-heading">{{rContents[0].mainheading}}</h2>
		<p class="para-style">
			{{rContents[0].description}}
		</p>
		
		<div class="icon-section">
			<div *ngFor="let boxContnet of rContents[0].content" class="icon-container">
			  <span>{{ boxContnet.descimg }}</span>
			  <h3>{{ boxContnet.desctitle }}</h3>
			</div>
		</div>
	</section>
	<section class="expertise">
		<span class="small-heading">
			{{rContents[1].smallheading}}
		</span>
		<h2 class="main-heading">{{rContents[1].mainheading}}</h2>
		<p class="para-style">
			{{rContents[1].description}}
		</p>
		
		<div class="icon-section">
		
		<div *ngFor="let boxContnetskill of rContents[1].content" class="icon-container">
			<span class="upper-icon">{{boxContnetskill.desicon}}</span>
				<span>{{boxContnetskill.descimg}}</span>
				<h3>{{boxContnetskill.desctitle}}</h3>
				<p>
					{{boxContnetskill.descinfo}}
				</p>
			</div>
		</div>
	</section>
</div>